doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= 'Manu Apps ID - Make Things Happen'
		
		link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
		link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
		meta(name="theme-color" content="#ffffff")
		
		link(href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		style(type='text/css').
			body {
				background-color: #fdfdfd;
				font-family: 'Yantramanav', sans-serif;
			}
			.child {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 20%;
			}
			.footer {
				position: absolute;
				width: 300px;
				bottom: 25px;
				right: 25%;
				left: 50%;
				margin-left: -150px;
				font-size: 12px;
				text-align: center;
			}

		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		
		.parent
			img.child(src='/images/logo-black.png', alt='log')

		.footer
			| Manu Applications ID - Make Things Happen @ 2018
    
		//- JAVASCRIPT

		script(src='/js/jquery/jquery-1.11.3.min.js')

		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		block js
